[submodule "dotbot"]
	path = dotbot
	url = https://github.com/anishathalye/dotbot
[submodule "space-vim"]
	path = space-vim
	url = https://github.com/liuchengxu/space-vim
[submodule "spacemacs"]
	path = spacemacs.d
	url = https://github.com/syl20bnr/spacemacs
[submodule "antigen"]
	path = antigen
	url = git@github.com:zsh-users/antigen.git
[submodule "i3blocks-contrib"]
	path = i3blocks-contrib
	url = git@github.com:vivien/i3blocks-contrib.git
[submodule "doom-emacs"]
	path = doom-emacs.d
	url = https://github.com/hlissner/doom-emacs
[submodule "emacs/scimax"]
	path = emacs/scimax
	url = https://github.com/jkitchin/scimax
[submodule "misc/artwiz-lemon-ttf"]
	path = misc/artwiz-lemon-ttf
	url = https://github.com/fennerm/artwiz-lemon-ttf
[submodule "prelude"]
	path = prelude-emacs
	url = https://github.com/bbatsov/prelude.git
[submodule "giga-emacs/includes/ob-julia"]
	path = giga-emacs/includes/ob-julia
	url = https://github.com/gjkerns/ob-julia
[submodule "misc/cura-custom-supports"]
	path = misc/cura-custom-supports
	url = https://github.com/lokster/cura-custom-supports
[submodule "giga-emacs/includes/ox-latex-subfigure"]
	path = giga-emacs/includes/ox-latex-subfigure
	url = https://github.com/linktohack/ox-latex-subfigure
[submodule "torque"]
	path = torque
	url = https://github.com/dylanaraps/torque.git
[submodule "st"]
	path = st
	url = https://github.com/LukeSmithxyz/st.git
[submodule "x49gp"]
	path = x49gp
	url = https://github.com/Gigahawk/x49gp
